In [6]:
import pandas as pd
import numpy as np

In [7]:
amazon = pd.read_csv(r"Datasets/amazon_prime_titles-score.csv")
disney = pd.read_csv(r"Datasets/disney_plus_titles-score.csv")
hulu = pd.read_csv(r"Datasets/hulu_titles-score (2).csv")
netflix = pd.read_csv(r"Datasets/netflix_titles-score.csv")

# Limpieza de Datos

## Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

## Primero clasifico y designo tipos de datos correspondientes a cada columna

In [4]:
# amazon
amazon['show_id'] = amazon['show_id'].astype('str')
amazon['type'] = amazon['type'].astype('category')
amazon['title'] = amazon['title'].astype('str')
amazon['director'] = amazon['director'].astype('str')
amazon['cast'] = amazon['cast'].astype('str')
amazon['country'] = amazon['country'].astype('str')
amazon['date_added'] = pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors='coerce')
amazon['release_year'] = amazon['release_year'].astype('int16')
amazon['rating'] = amazon['rating'].astype('str')
amazon['listed_in'] = amazon['listed_in'].astype('str')
amazon['description'] = amazon['description'].astype('str')
amazon['score'] = amazon['score'].astype('int8')

In [5]:
amazon['id'] = 'a' + amazon['show_id']

In [6]:
amazon['id'] = amazon['id'].astype('str')

In [7]:
# disney
disney['show_id'] = disney['show_id'].astype('str')
disney['type'] = disney['type'].astype('category')
disney['title'] = disney['title'].astype('str')
disney['director'] = disney['director'].astype('str')
disney['cast'] = disney['cast'].astype('str')
disney['country'] = disney['country'].astype('str')
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')
disney['release_year'] = disney['release_year'].astype('int16')
disney['rating'] = disney['rating'].astype('str')
disney['listed_in'] = disney['listed_in'].astype('str')
disney['description'] = disney['description'].astype('str')
disney['score'] = disney['score'].astype('int8')

In [8]:
disney['id'] = 'd' + disney['show_id']

In [9]:
disney['id'] = disney['id'].astype('str')

In [10]:
# hulu
hulu['show_id'] = hulu['show_id'].astype('str')
hulu['type'] = hulu['type'].astype('category')
hulu['title'] = hulu['title'].astype('str')
hulu['director'] = hulu['director'].astype('str')
hulu['cast'] = hulu['cast'].astype('str')
hulu['country'] = hulu['country'].astype('str')
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')
hulu['release_year'] = hulu['release_year'].astype('int16')
hulu['rating'] = hulu['rating'].astype('str')
hulu['listed_in'] = hulu['listed_in'].astype('str')
hulu['description'] = hulu['description'].astype('str')
hulu['score'] = hulu['score'].astype('int8')

In [11]:
hulu['id'] = 'h' + hulu['show_id']

In [12]:
hulu['id'] = hulu['id'].astype('str')

In [13]:
# netflix
netflix['show_id'] = netflix['show_id'].astype('str')
netflix['type'] = netflix['type'].astype('category')
netflix['title'] = netflix['title'].astype('str')
netflix['director'] = netflix['director'].astype('str')
netflix['cast'] = netflix['cast'].astype('str')
netflix['country'] = netflix['country'].astype('str')
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')
netflix['release_year'] = netflix['release_year'].astype('int16')
netflix['rating'] = netflix['rating'].astype('str')
netflix['listed_in'] = netflix['listed_in'].astype('str')
netflix['description'] = netflix['description'].astype('str')
netflix['score'] = netflix['score'].astype('int8')

In [14]:
netflix['id'] = 'n' + netflix['show_id']

In [15]:
netflix['id'] = netflix['id'].astype('str')

## Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

# Tengo dudas con esta parte, porque este codigo no coge los NaN

In [16]:
# Remplazaremos el str nan por el str G (asi como en las demas columnas)
amazon['rating'] = amazon['rating'].replace( "nan" , 'G')
#se consulta el resultado
amazon['rating'].head()

0      G
1    13+
2      G
3      G
4      G
Name: rating, dtype: object

In [17]:
disney['rating'] = disney['rating'].replace( "nan" , 'G')
disney["rating"].head()

0     TV-G
1       PG
2     TV-G
3    TV-PG
4        G
Name: rating, dtype: object

In [18]:
hulu['rating'] = hulu['rating'].replace( "nan" , 'G')
hulu["rating"].head()

0    TV-MA
1        G
2    PG-13
3        R
4        G
Name: rating, dtype: object

In [19]:
netflix['rating'] = netflix['rating'].replace( "nan" , 'G')
netflix["rating"].head()

0    PG-13
1    TV-MA
2    TV-MA
3    TV-MA
4    TV-MA
Name: rating, dtype: object

##  De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [20]:
amazon['date_added'] = pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors='coerce')

In [21]:
amazon['date_added'].head()

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date_added, dtype: datetime64[ns]

In [22]:
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')

In [23]:
disney['date_added'].head()

0   2021-11-26
1   2021-11-26
2   2021-11-26
3   2021-11-26
4   2021-11-25
Name: date_added, dtype: datetime64[ns]

In [24]:
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')

In [25]:
hulu['date_added'].head()

0   2021-10-24
1   2021-10-23
2   2021-10-23
3   2021-10-22
4   2021-10-22
Name: date_added, dtype: datetime64[ns]

In [26]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')

In [27]:
netflix['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [28]:
netflix["duration"].head()

0       90 min
1    2 Seasons
2     1 Season
3     1 Season
4    2 Seasons
Name: duration, dtype: object

El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [29]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon = amazon[amazon.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon.columns[10:-2].tolist()]

In [30]:
amazon["duration_type"]= amazon["duration_type"].replace("Seasons", "season")
amazon["duration_type"]= amazon["duration_type"].replace("Season", "season")
amazon[['duration_int', 'duration_type']].head(20)

   duration_int duration_type
0           113           min
1           110           min
2            74           min
3            69           min
4            45           min
5            52           min
6            98           min
7           131           min
8            87           min
9            92           min
10           88           min
11           93           min
12           94           min
13           46           min
14           74           min
15           96           min
16           87           min
17            1        season
18            1        season
19          104           min

In [31]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney = disney[disney.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney.columns[10:-2].tolist()]

In [32]:
disney["duration_type"]= disney["duration_type"].replace("Seasons", "season")
disney["duration_type"]= disney["duration_type"].replace("Season", "season")
disney[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           23           min
1           91           min
2           23           min
3           41           min
4            1        season

In [33]:
hulu[['duration_int', 'duration_type']] = hulu['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu = hulu[hulu.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu.columns[10:-2].tolist()]

In [34]:
hulu["duration_type"]= hulu["duration_type"].replace("Seasons", "season")
hulu["duration_type"]= hulu["duration_type"].replace("Season", "season")
hulu[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          NaN           NaN
1           94           min
2          108           min
3           97           min
4          104           min

In [35]:
netflix[['duration_int', 'duration_type']] = netflix['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix = netflix[netflix.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix.columns[10:-2].tolist()]

In [36]:
netflix["duration_type"]= netflix["duration_type"].replace("Seasons", "season")
netflix["duration_type"]= netflix["duration_type"].replace("Season", "season")
netflix[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           90           min
1            2        season
2            1        season
3            1        season
4            2        season

## Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [37]:
# amazon
amazon['id'] = amazon['id'].str.lower()
amazon['type'] = amazon['type'].str.lower()
amazon['title'] = amazon['title'].str.lower()
amazon['director'] = amazon['director'].str.lower()
amazon['cast'] = amazon['cast'].str.lower()
amazon['country'] = amazon['country'].str.lower()
amazon['rating'] = amazon['rating'].str.lower()
amazon['listed_in'] = amazon['listed_in'].str.lower()
amazon['description'] = amazon['description'].str.lower()
amazon['duration_type'] = amazon['duration_type'].str.lower()

In [38]:
# disney
disney['id'] = disney['id'].str.lower()
disney['type'] = disney['type'].str.lower()
disney['title'] = disney['title'].str.lower()
disney['director'] = disney['director'].str.lower()
disney['cast'] = disney['cast'].str.lower()
disney['country'] = disney['country'].str.lower()
disney['rating'] = disney['rating'].str.lower()
disney['listed_in'] = disney['listed_in'].str.lower()
disney['description'] = disney['description'].str.lower()
disney['duration_type'] = disney['duration_type'].str.lower()

In [39]:
disney["title"].head()

0    duck the halls: a mickey mouse christmas special
1                              ernest saves christmas
2                        ice age: a mammoth christmas
3                          the queen family singalong
4                               the beatles: get back
Name: title, dtype: object

In [40]:
# hulu
hulu['id'] = hulu['id'].str.lower()
hulu['type'] = hulu['type'].str.lower()
hulu['title'] = hulu['title'].str.lower()
hulu['director'] = hulu['director'].str.lower()
hulu['cast'] = hulu['cast'].str.lower()
hulu['country'] = hulu['country'].str.lower()
hulu['rating'] = hulu['rating'].str.lower()
hulu['listed_in'] = hulu['listed_in'].str.lower()
hulu['description'] = hulu['description'].str.lower()

In [41]:
# netflix
netflix['id'] = netflix['id'].str.lower()
netflix['type'] = netflix['type'].str.lower()
netflix['title'] = netflix['title'].str.lower()
netflix['director'] = netflix['director'].str.lower()
netflix['cast'] = netflix['cast'].str.lower()
netflix['country'] = netflix['country'].str.lower()
netflix['rating'] = netflix['rating'].str.lower()
netflix['listed_in'] = netflix['listed_in'].str.lower()
netflix['description'] = netflix['description'].str.lower()
netflix['duration_type'] = netflix['duration_type'].str.lower()

In [42]:
netflix.to_csv("netflix_csv")
hulu.to_csv("hulu_csv")
disney.to_csv("dinay_csv")
amazon.to_csv("amazon_csv")